<p><%= notice %></p>


<h2>Picture一覧</h2>

<% @pic.each do |pic| %>
	<p>content <%= pic.content %></p>
	<%= link_to "編集" , edit_picture_path(pic.id), data: { confirm: '本当に編集していいですか？'} %>
	<%= link_to "削除" , picture_path(pic.id), method: :delete, data: { confirm: '本当に編集していいですか？'} %>

<% end %>

<br><%= link_to "投稿する" , new_picture_path %>