<p id="notice"><%= notice %></p>

<%= form_for(@pic) do |f| %>
 <% if @pic.errors.any? %>
 <div id="error_explanation">
  <!-- バリデーションエラーの件数表示	 -->
  <h2><%= @pic.errors.count %>件のエラーがあります</h2>

   <ul>
   	<% @pic.errors.full_messages.each do |msg| %>
   	 <li><%= msg %></li>
   	 <% end %>
   </ul>
   </div>
   <% end %>
  
 <%= f.text_field :content %>


 <%= f.submit %>

 <% end %>

<%= link_to "一覧" , pictures_path %>